<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a routerLink="/">MyApp</a>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/" routerLinkActive="active">{{email}}</a>
        </li>
      </ul>
    </div>
  </nav>
  