<div
  class="modal"
  [class.show]="show"
  (click)="onClose()"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-modal="true"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close" (click)="onClose()" aria-label="Close modal">
      &times;
    </button>
    <h1 id="modalTitle" class="text-4xl font-medium mb-6">User Details</h1>
    <div>
      <form [formGroup]="form">
        <div class="form-grid">
          <div class="flex flex-col">
            <label class="label" for="firstName">First Name:</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="input-field"
            />
           
          </div>
          <div class="flex flex-col">
            <label class="label" for="lastName">Last Name:</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="input-field"
            />
           
          </div>
          
          <div class="flex flex-col">
            <label class="label" for="email">Email:</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="input-field"
            />
            <div
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
              class="error text-red-500"
            >
              Valid Email is required.
            </div>
          </div>
          <div class="flex flex-col">
            <label class="label" for="contactNo">Contact No:</label>
            <input
              type="text"
              id="contactNo"
              formControlName="contactNo"
              class="input-field"
            />
            <div
              *ngIf="
                form.get('contactNo')?.invalid && form.get('contactNo')?.touched
              "
              class="error text-red-500"
              >
              Contact Number must be 10 digits.
            </div>
          </div>
          <div class="flex flex-col">
            <label class="label" for="dob">Date of Birth:</label>
            <input
              type="date"
              id="dob"
              formControlName="dob"
              class="input-field"
            />
          </div>
          <div class="flex flex-col">
            <label class="label" for="workExperience">Work Experience:</label>
            <input
              type="text"
              id="workExperience"
              formControlName="workExperience"
              class="input-field"
            />
            <div
              *ngIf="
                form.get('workExperience')?.invalid &&
                form.get('workExperience')?.touched
              "
              class="error text-red-500"
              >
              Work Experience must be a two-digit number.
            </div>
          </div>
          <div class="flex flex-col">
            <label class="label" for="addressLine1">Address Line 1:</label>
            <input
              type="text"
              id="addressLine1"
              formControlName="addressLine1"
              class="input-field"
            />
          </div>
          <div class="flex flex-col">
            <label class="label" for="addressLine2">Address Line 2:</label>
            <input
              type="text"
              id="addressLine2"
              formControlName="addressLine2"
              class="input-field"
            />
          </div>
          <div class="flex flex-col">
            <label class="label" for="city">City:</label>
            <input
              type="text"
              id="city"
              formControlName="city"
              class="input-field"
            />
          </div>
          <div class="flex flex-col">
            <label class="label" for="zip">ZIP:</label>
            <input
              type="text"
              id="zip"
              formControlName="zip"
              class="input-field"
            />
            <div
              *ngIf="form.get('zip')?.invalid && form.get('zip')?.touched"
              class="error text-red-500"
            >
              ZIP code must be 6 digits.
            </div>
          </div>
          <div class="flex flex-col">
            <label class="label" for="country">Country:</label>
            <input
              type="text"
              id="country"
              formControlName="country"
              class="input-field"
            />
          </div>
          <div class="flex flex-col">
            <label class="label" for="state">State:</label>
            <input
              type="text"
              id="state"
              formControlName="state"
              class="input-field"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="flex flex-row justify-evenly items-center mt-6">
      @if (mode === 'edit'){
      <button type="submit" class="button button-edit" [ngClass]="{'cursor-not-allowed': form.invalid}" (click)="onSubmit()">
        Save
      </button>
      } @else {
      <button type="submit" class="button button-edit" [ngClass]="{'cursor-not-allowed': form.invalid}" (click)="onSubmit()">
        Add
      </button>
      } @if(mode === 'edit'){
      <button type="button" class="button button-delete" (click)="onDelete()">
        Delete
      </button>

      }
    </div>
  </div>
</div>
