

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6">
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="contactNo">Contact No:</label>
      <input type="text" id="contactNo" formControlName="contactNo" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="dob">Date of Birth:</label>
      <input type="date" id="dob" formControlName="dob" class="input-field p-2 border border-gray-300 rounded bg-gray-100 cursor-not-allowed" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="workExperience">Work Experience:</label>
      <input type="text" id="workExperience" formControlName="workExperience" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="addressLine1">Address Line 1:</label>
      <input type="text" id="addressLine1" formControlName="addressLine1" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="addressLine2">Address Line 2:</label>
      <input type="text" id="addressLine2" formControlName="addressLine2" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="city">City:</label>
      <input type="text" id="city" formControlName="city" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="zip">ZIP:</label>
      <input type="text" id="zip" formControlName="zip" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="country">Country:</label>
      <input type="text" id="country" formControlName="country" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="label mb-2 text-gray-700" for="state">State:</label>
      <input type="text" id="state" formControlName="state" class="input-field p-2 border border-gray-300 rounded" />
    </div>
    <button type="submit" class="btn-submit mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Submit</button>
  </form>
  